html {
  scroll-snap-type: y mandatory;
}

.App {
  background-color: rgb(63, 157, 211);
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__videos {
  box-sizing: border-box;
  border-radius: 20px;
  height: 100vh;
  max-height: 800px;
  width: 80%;  
  max-width: 500px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;  
}

/* Esconde a scrollbar no edge e chrome */

.app__videos::-webkit-scrollbar{
  display: none;
}

/* Esconde a scrollbar no firefox */

.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}